@keyframes text_colours {
    0%{
        color: #a67514;
        background-image: -webkit-linear-gradient(0deg, #a67514 0%,#3c1cba 50%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;

    }
    20%{
        color: #1416a6;
        background-image: -webkit-linear-gradient(0deg, #1416a6 0%,#951cba 75%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      

    }
    40%{
        color: #951cba;
        background-image: -webkit-linear-gradient(0deg, #951cba 0%,#ba4e1c 75%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      

    }
    60%{
        

  color: #ba4e1c;
  background-image: -webkit-linear-gradient(0deg, #ba4e1c 0%,#68ba1c 75%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;


    }
    80%{
        color: #68ba1c;
        background-image: -webkit-linear-gradient(0deg, #68ba1c 0%,#1c93ba 75%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      

    }
    100%{
        color: #1c93ba;
        background-image: -webkit-linear-gradient(0deg, #1c93ba 0%,#a67514 75%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      

    }
    
 }

 .text_animated{
    /* animation-name: text_colours;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    	color: #201e18;
        background-image: -webkit-linear-gradient(0deg, #000000 0%,#d89608 90%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color:transparent;
 }


 *, *::before, *::after {
   box-sizing: border-box;
 }

 
 .container1 {
   z-index: 1;
   position: relative;
   top:-5rem;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 110vh;
   /*min-height:35rem*/
   background-image: linear-gradient(to bottom, rgba(255, 168, 76, 0.6) 0%, rgba(255, 123, 13, 0.6) 100%), url('../images/portada/background.jpg');
   background-blend-mode: soft-light;
   background-size: cover;
   background-position: center center;
   
 }
 .bird {
   background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
   background-size: auto 100%;
   width: 88px;
   height: 125px;
   will-change: background-position;
   animation-name: fly-cycle;
   animation-timing-function: steps(10);
   animation-iteration-count: infinite;
 }
 .bird--one {
   animation-duration: 1s;
   animation-delay: -0.5s;
 }
 .bird--two {
   animation-duration: 0.9s;
   animation-delay: -0.75s;
 }
 .bird--three {
   animation-duration: 1.25s;
   animation-delay: -0.25s;
 }
 .bird--four {
   animation-duration: 1.1s;
   animation-delay: -0.5s;
 }
 .bird-container {
   position: absolute;
   top: 20%;
   left: -10%;
   transform: scale(0) translateX(-10vw);
   will-change: transform;
   animation-name: fly-right-one;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
 }
 .bird-container--one {
   animation-duration: 15s;
   animation-delay: 0s;
 }
 .bird-container--two {
   animation-duration: 16s;
   animation-delay: 1s;
 }
 .bird-container--three {
   animation-duration: 14.6s;
   animation-delay: 9.5s;
 }
 .bird-container--four {
   animation-duration: 16s;
   animation-delay: 10.25s;
 }
 @keyframes fly-cycle {
   100% {
	 background-position: -900px 0;
   }
 }
 @keyframes fly-right-one {
   0% {
	 transform: scale(0.3) translateX(-10vw);
   }
   10% {
	 transform: translateY(2vh) translateX(10vw) scale(0.4);
   }
   20% {
	 transform: translateY(0vh) translateX(30vw) scale(0.5);
   }
   30% {
	 transform: translateY(4vh) translateX(50vw) scale(0.6);
   }
   40% {
	 transform: translateY(2vh) translateX(70vw) scale(0.6);
   }
   50% {
	 transform: translateY(0vh) translateX(90vw) scale(0.6);
   }
   60% {
	 transform: translateY(0vh) translateX(110vw) scale(0.6);
   }
   100% {
	 transform: translateY(0vh) translateX(110vw) scale(0.6);
   }
 }
 @keyframes fly-right-two {
   0% {
	 transform: translateY(-2vh) translateX(-10vw) scale(0.5);
   }
   10% {
	 transform: translateY(0vh) translateX(10vw) scale(0.4);
   }
   20% {
	 transform: translateY(-4vh) translateX(30vw) scale(0.6);
   }
   30% {
	 transform: translateY(1vh) translateX(50vw) scale(0.45);
   }
   40% {
	 transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
   }
   50% {
	 transform: translateY(0vh) translateX(90vw) scale(0.45);
   }
   51% {
	 transform: translateY(0vh) translateX(110vw) scale(0.45);
   }
   100% {
	 transform: translateY(0vh) translateX(110vw) scale(0.45);
   }
 }
 